// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
//mixins
@main-color: #05386b;
.centered() {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.align() {
  align-items: center;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
  width: 100%;
}

nav {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  background-color: #5cdb95;
  align-items: center;

  a {
    font-size: 2.5vh;
    text-decoration: none;
    color: white;
  }
}

header {
  display: flex;
  height: 40%;

  .alaska {
    height: 40vh;
    width: 100%;
  }
  .Title {
    font-size: 3rem;
    width: 75%;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: @main-color;
    color: white;
  }
  h1,
  h2 {
    padding-left: 3%;
    font-size: 3rem;
  }
}
//  I completed the top portion of the page
body {
  @media (max-width: 500px) {
    .bodydiv {
      display: flex;
      flex-direction: column;
      .align();
      text-align: center;
      p {
        padding: 0;
        padding-right: 0;
      }
    }

    .background {
      height: 126vh;
      width: 100%;
      text-align: center;
    }
  }

  .bodydiv {
    display: flex;
    height: 90vh;
    line-height: 1.6;
    font-size: 1.7rem;

    .background {
      background-color: #659dbd;
      color: white;
      width: 66%;
      height: 117vh;
      padding: 3%;

      div {
        .centered();
      }

      h2,
      h3 {
        font-size: 1.9rem;
        padding: 0 4%;
      }

      p,
      li {
        // padding: 1% 4%;
        // padding-right: 35%;
        font-size: 1.5rem;
        list-style-type: circle;
      }
    } //backgrounddiv ends here
    .Career {
      width: 85%;
      padding-left: 1%;

      h2,
      h3,
      h4 {
        font-size: 2rem;
      }
      .work {
        margin-top: 4%;
      }
      .ull li {
        font-size: 6rems;
      }
      .education {
        margin-top: 5%;

        .education2 {
          margin-top: 4%;
        }
      } //education end
    } //career div ends here
    .activities {
      margin-top: 24%;
    }
  } //bodydiv ends here
  // @media screen and (max-width: 500px) {
  //   .bodydiv {
  //     display: flex;
  //     flex-direction: column;
  //     width: 100%;
  //     height: 100%;

  //   }
  // }
}
